*{ 
    font-family:  "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@media screen and (max-width: 480px) {
  
  header {
    width: 100vh;
    height: 100px;
  }

  .link-header {
    display: none;
  }

  #logo-paraibuna {
    width: 345px;
    height: 86px;
    position: fixed;
    left: 352px;
    top: 38px;
  }

  .dropdown {
    display: block;
    position: fixed;
    top: 30px;
    left: 340px;
}

.image-rosto {
    width: 200px;
    height: 200px;
    position: relative;
}

}