*{ 
    font-family:  "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


#logo-paraibuna {
    width: 400px;
    height: 75px;
    display: inline-block;
    margin-left: 70px;
    margin-right: 200px;
    margin-top: 20px;
}

header {
    background-color: #161A49;
    width: 100%;
    height: 110px;
  }


.link-header{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFF;
    margin-right: 36px;
    margin-top: 45px;
    cursor: pointer;
    position: relative;
    top: 20px;
    text-decoration: none;
}   


.button-acima{
    background-color: #6FBF44;
    border-radius: 10px;
    border: none;
    width: 124px;
    height: 51px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    left: 40px;
    top: 20px;
}

main {
  background-color:bisque;
  min-height: 100vh;
  padding: 50px;

}

.image-rosto {
    margin: 0 0 120px 123px;
    display: inline;
    border: none;
    border-radius: 200px;
    width: 400px;
    position: relative;
    bottom: 271px;
  
}

section {
    display: inline-block;
    margin-left: 85px;
    width: 540px;
    margin-top: 60px;
}

 
h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;

}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px; 
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    width: 680px;
  }

.button-abaixo {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    border: none;
    width: 112px;
    height: 27px;
    background: transparent;
    cursor: pointer;
    margin-bottom: 50px;
}

.button-site {
  display: none;
}

.dropdown {
  display: none;
}

@media screen and (max-width: 900px) {

    header{
        width: 100%;
        height: 110px;
        background-color: #161A49;
    }

    main {
      height: 100vh;
      width: 100%;
      position: relative;
      display: flex;
    }

    #logo-paraibuna {
        width: 230px;
        height: 92px;
        margin-left: 39px;
        position: relative;
        bottom: 10px;
      }

      .link-header {
        font-weight: 600;
        font-size: 11px;
        color: #FFF;
        line-height: 65px;
        position: relative;
        right: 59px;
        bottom: 48px;
        margin-right: 30px;
}

      .button-acima{
        display: none;
      }

      .image-rosto {
        width: 340px;
        height: 340px;
        margin-left: 22px;
        margin-top: 110px        
      }

      section {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 440px;
      }

      h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        height: 62px;
        color: #161A49;
        margin-top: 15px;

      }
      
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px; 
        color: #4B505A;
        margin-top: 43px;
        margin-bottom: 29px;
        width: auto;
        
      }

      .button-abaixo {
        display: none;
      }

      .button-site {
        display: inline-block;
        font-size: 14px;
        line-height: 21px;
        width: 90px;
        height: 22px;
        margin-bottom: 100px;
        background-color: #161A49;
        border-radius: 30px;
        opacity: 0.8;
        color: #6FBF44;
      }
}
